@font-face {
    font-family: 'iconfont';
    src: url('iconfont.woff') format('woff'),
    url('iconfont.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'iconfont', monospace;
    background: url('airplane.png');
}