### .gitignore 忽略规则配置说明
# / 目录
# * 通配多个字符
# ? 通配单个字符
# []包含单个字符的匹配列表
# ! 不忽略（跟踪）匹配到的文件或目录
# /mtk/ 过滤整个文件夹
# *.zip 过滤所有.zip文件
# /mtk/do.c 过滤某个具体文件

### 可以根据自己需要参考配置自己的 .ignore 文件：https://github.com/github/gitignore
### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


### maven ###
target/

### Gradle ###
.gradle
**/build/

### eclipse ###
bin/
.settings/
.classpath
.project
.recommenders/
.metadata/
Servers/

### IntelliJ IDEA ###
out/
.idea/
*.iml