<?xml version="1.0" encoding="UTF-8"?>
<!-- https://tomcat.apache.org/whichversion.html -->
<!-- web.xml 3.1    JDK7    Tomcat8     Spring4.x -->
<!-- web.xml 4.0    JDK8    Tomcat9     Spring5.x -->
<!-- web.xml 6.0    JDK11   Tomcat10.1            -->
<!-- web.xml 6.0    JDK17   Tomcat11              -->
<!-- %TOMCAT_HOME%/webapps/examples/WEB-INF/web.xml -->
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0"
         metadata-complete="true">
    <icon>
        <small-icon/>
    </icon>

    <display-name>Epitome</display-name>
    <description>Epitome</description>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/error.jsp</location>
    </error-page>

    <!-- web.xml 加载顺序：context-param → listener → filter → servlet -->


    <!-- Context and Servlet 初始化参数：https://www.baeldung.com/context-servlet-initialization-param -->
    <!-- <context-param/>：声明应用范围内的初始化参数，用于向 ServletContext 提供键值对，Listener, Filter 等在初始化时会用到这些上下文中的信息
        1.XmlWebApplicationContext: 基于 XML 配置 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <!-- 默认位置：/WEB-INF/applicationContext.xml -->
        <!-- applicationContext.xml vs spring-servlet.xml：https://www.baeldung.com/spring-applicationcontext-vs-spring-servlet-xml -->
        <param-value>classpath:spring/applicationContext.xml</param-value>
    </context-param>
    <!-- 2.AnnotationConfigWebApplicationContext: 基于 Java 配置  -->
    <!-- <context-param>-->
    <!--     <param-name>contextClass</param-name>-->
    <!--     <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>-->
    <!-- </context-param>-->

    <!-- Spring Web Contexts：https://www.baeldung.com/spring-web-contexts -->
    <!-- ContextLoaderListener：管理 Spring 的根 WebApplicationContext  -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>springboot.listener.OnlineNumberListener</listener-class>
    </listener>

    <!-- CharacterEncodingFilter：字符编码过滤器，放在所有过滤器的第一个 -->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- HiddenHttpMethodFilter：使 form 表单提交的 POST 请求转化为其它请求 (GET, POST, HEAD, OPTIONS, PUT, DELETE, TRACE) -->
    <filter>
        <filter-name>hiddenHttpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>hiddenHttpMethodFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>firstFilter</filter-name>
        <filter-class>springboot.filter.FirstFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>firstFilter</filter-name>
        <url-pattern>/user/test</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>secondFilter</filter-name>
        <filter-class>springboot.filter.SecondFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>secondFilter</filter-name>
        <url-pattern>/user/test</url-pattern>
    </filter-mapping>

    <!-- SpringMVC DispatcherServlet -->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <!-- 默认位置：/WEB-INF/[servlet-name]-servlet.xml -->
            <param-value>classpath:spring/spring-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <!-- 匹配所有请求 -->
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- *************************
         ********* 验证码 *********
         ************************* -->
    <servlet>
        <servlet-name>captchaRandom</servlet-name>
        <servlet-class>spring.servlet.captcha.CaptchaRandomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>captchaRandom</servlet-name>
        <url-pattern>/captchaRandom.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>captchaArithmetic</servlet-name>
        <servlet-class>spring.servlet.captcha.CaptchaArithmeticServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>captchaArithmetic</servlet-name>
        <url-pattern>/captchaArithmetic.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>valid</servlet-name>
        <servlet-class>spring.servlet.captcha.ValidServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>valid</servlet-name>
        <url-pattern>/valid.do</url-pattern>
    </servlet-mapping>

    <!-- session 配置 -->
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>

    <!-- 为下载的文件自动装配相应的 mime 类型 -->
    <mime-mapping>
        <extension>doc</extension>
        <mime-type>application/vnd.ms-word</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xls</extension>
        <mime-type>application/msexcel</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ppt</extension>
        <mime-type>application/vnd.ms-powerpoint</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>docx</extension>
        <mime-type>application/vnd.openxmlformats-officedocument.wordprocessingml.document</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xlsx</extension>
        <mime-type>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>pptx</extension>
        <mime-type>application/vnd.openxmlformats-officedocument.presentationml.presentation</mime-type>
    </mime-mapping>
</web-app>
