@charset "utf-8";
* {
  padding: 0;
  margin: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
img {
  border: none;
}
.tudou_main {
  width: 616px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  height: 62px;
  border: solid 1px #d0d0d0;
}
