<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
        Ⅰ<context:annotation-config/>：https://docs.spring.io/spring-framework/docs/current/reference/html/core.html#beans-annotation-config
            ①ConfigurationClassPostProcessor        @Configuration
            ②AutowiredAnnotationBeanPostProcessor   @Autowired，@Value
            ③CommonAnnotationBeanPostProcessor      @Resource，@PostConstruct，@PreDestroy
            ④PersistenceAnnotationBeanPostProcessor @PersistenceUnit，@PersistenceContext
            ⑤EventListenerMethodProcessor           @EventListener
            ⑥RequiredAnnotationBeanPostProcessor    @Required (Spring 5.1 弃用)
        Ⅱ<context:component-scan/>：https://docs.spring.io/spring-framework/docs/current/reference/html/core.html#beans-classpath-scanning
            ①<context:annotation-config>
            ②@Component，@Repository，@Service，@Controller
    -->
    <context:component-scan base-package="spring"/>

    <!-- 注解驱动 MVC 配置：https://docs.spring.io/spring-framework/docs/4.3.x/spring-framework-reference/htmlsingle/#mvc-config-enable
            ①HandlerMapping: RequestMappingHandlerMapping, BeanNameUrlHandlerMapping
            ②HandlerAdapter: RequestMappingHandlerAdapter, HttpRequestHandlerAdapter, SimpleControllerHandlerAdapter
            ③HandlerExceptionResolver: ExceptionHandlerExceptionResolver, ResponseStatusExceptionResolver, DefaultHandlerExceptionResolver
            ④JavaBeans PropertyEditors：用于数据绑定
            ⑤样式类型转换 (ConversionService)
            ⑥@NumberFormat (ConversionService)
            ⑦@DateTimeFormat：支持格式化 Date, Calendar、Long 和 Joda-Time 字段，@RequestBody 下无效
            ⑧@Valid
            ⑨HttpMessageConverter：
                byte arrays, strings, Resource, org.springframework.core.io.Resource (all media types),
                javax.xml.transform.Source, MultiValueMap<String, String>, XML, JSON,
                Atom feeds, RSS feeds
        <mvc:annotation-driven/>的作用：https://www.zhihu.com/question/362051844/answer/1286615054 -->
    <mvc:annotation-driven/>

    <!-- mvc-view-jsp
        https://docs.spring.io/spring-framework/docs/current/reference/html/web.html#mvc-view-jsp
        https://docs.spring.io/spring-framework/docs/current/reference/html/web.html#mvc-viewresolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 需导入 jstl -->
        <!-- <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/> -->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 静态资源：
        ①<mvc:resources/>：https://docs.spring.io/spring-framework/docs/current/reference/html/web.html#mvc-config-static-resources
        ②<mvc:default-servlet-handler/>：https://docs.spring.io/spring-framework/docs/current/reference/html/web.html#mvc-default-servlet-handler
        SpringMVC 访问静态资源的3种方式：https://www.cnblogs.com/caoyc/p/5639078.html
        <mvc:resources/> vs <mvc:default-servlet-handler/>：http://www.javacoder.cn/?p=178 -->
    <mvc:resources location="classpath:static/public/" mapping="/**" cache-period="900"/>

    <!-- 拦截器：https://docs.spring.io/spring-framework/docs/current/reference/html/web.html#mvc-config-interceptors -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/"/>
            <bean class="springboot.interceptor.HttpInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>
