<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- <mvc:annotation-driven/> 和 <context:component-scan> 之间的关系：https://segmentfault.com/a/1190000012193685
        (1)<context:annotation-config>
            ①AutowiredAnnotationBeanPostProcessor   @Autowired
            ②CommonAnnotationBeanPostProcessor      @Resource, @PostConstruct, @PreDestroy
            ③PersistenceAnnotationBeanPostProcessor @PersistenceContext
            ④RequiredAnnotationBeanPostProcessor    @Required
        (2)<context:component-scan>
            ①<context:annotation-config>
            ②@Component，@Repository，@Service，@Controller
            ③注册扫描 Bean -->

    <!-- 扫描包 -->
    <context:component-scan base-package="spring.controller"/>

    <!-- 注解驱动
        https://www.zhihu.com/question/362051844/answer/1286615054
        (1)自动注册：
            HandlerMapping: RequestMappingHandlerMapping, BeanNameUrlHandlerMapping
            HandlerAdapter: RequestMappingHandlerAdapter, HttpRequestHandlerAdapter, SimpleControllerHandlerAdapter
            HandlerExceptionResolver: ExceptionHandlerExceptionResolver, ResponseStatusExceptionResolver, DefaultHandlerExceptionResolver
        (2)其它支持：@RequestMapping, @NumberFormat，@DateTimeFormat，@Valid，JAXB，Jackson
            https://spring.io/blog/2009/12/21/mvc-simplifications-in-spring-3-0 -->
    <mvc:annotation-driven/>

    <!-- ViewResolver，默认为转发 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 需导入 jstl -->
        <!-- <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/> -->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 静态资源
        https://www.cnblogs.com/caoyc/p/5639078.html
        http://www.javacoder.cn/?p=178 -->
    <mvc:resources location="classpath:static/" mapping="/**" cache-period="86400"/>

    <!-- 拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/"/>
            <bean class="springboot.interceptor.HttpInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>
