<?xml version="1.0" encoding="UTF-8"?>
<!-- Servlet2.3 jsp el 默认不工作，修改Servlet版本为3.1-->
<!-- web.xml 3.1   JDK7   Tomcat8   Spring4.x -->
<!-- web.xml 4.0   JDK8   Tomcat9   Spring5.x -->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <icon>
        <small-icon>../static/static/img/ico/NoharaSinnosuke.ico</small-icon>
    </icon>

    <display-name>Epitome</display-name>
    <description>Epitome</description>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/error.jsp</location>
    </error-page>

    <!-- context-param → listener → filter → servlet -->
    <!-- 声明应用范围内的初始化参数，用于向 ServletContext 提供键值对，Listener, Filter 等在初始化时会用到这些上下文中的信息 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring/spring-*.xml</param-value>
    </context-param>
    <context-param>
        <param-name>myParam</param-name>
        <param-value>xyz</param-value>
    </context-param>

    <!-- 监听器 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>springboot.listener.OnlineSessionListener</listener-class>
    </listener>

    <!-- 过滤器 -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FirstFilter</filter-name>
        <filter-class>springboot.filter.FirstFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FirstFilter</filter-name>
        <url-pattern>/user/test</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>SecondFilter</filter-name>
        <filter-class>springboot.filter.SecondFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecondFilter</filter-name>
        <url-pattern>/user/test</url-pattern>
    </filter-mapping>

    <!-- spring mvc 配置 -->
    <servlet>
        <servlet-name>spring-mvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!-- 配置 springMVC 需要加载的配置文件
            spring-dao.xml, spring-service.xml, spring-web.xml
            Mybatis -> spring -> springMVC -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring/spring-web.xml</param-value>
        </init-param>
<!--        <load-on-startup>1</load-on-startup>-->
    </servlet>
    <servlet-mapping>
        <servlet-name>spring-mvc</servlet-name>
        <!-- 默认匹配所有的请求 -->
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- *************************
         ********* 验证码 *********
         ************************* -->
    <servlet>
        <servlet-name>CaptchaRandomServlet</servlet-name>
        <servlet-class>spring.servlet.captcha.CaptchaRandomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CaptchaRandomServlet</servlet-name>
        <url-pattern>/captchaRandom.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CaptchaArithmeticServlet</servlet-name>
        <servlet-class>spring.servlet.captcha.CaptchaArithmeticServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CaptchaArithmeticServlet</servlet-name>
        <url-pattern>/captchaArithmetic.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ValidServlet</servlet-name>
        <servlet-class>spring.servlet.captcha.ValidServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidServlet</servlet-name>
        <url-pattern>/valid.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>KaptchaServlet</servlet-name>
        <servlet-class>spring.servlet.captcha.KaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KaptchaServlet</servlet-name>
        <url-pattern>/kaptcha.do</url-pattern>
    </servlet-mapping>

    <!-- 配置 Kaptcha 验证码 Servlet -->
    <servlet>
        <servlet-name>Kaptcha2Servlet</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
        <!-- Kaptcha 属性配置：https://blog.csdn.net/elephantboy/article/details/52795309 -->
        <init-param>
            <param-name>kaptcha.border</param-name>
            <param-value>no</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.image.width</param-name>
            <param-value>80</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.image.height</param-name>
            <param-value>30</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.textproducer.char.string</param-name>
            <param-value>0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.textproducer.char.length</param-name>
            <param-value>4</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.textproducer.char.space</param-name>
            <param-value>3</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.textproducer.font.color</param-name>
            <param-value>red</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.textproducer.font.size</param-name>
            <param-value>24</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.obscurificator.impl</param-name>
            <param-value>com.google.code.kaptcha.impl.ShadowGimpy</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.noise.impl</param-name>
            <param-value>com.google.code.kaptcha.impl.NoNoise</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Kaptcha2Servlet</servlet-name>
        <url-pattern>/kaptcha2.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ValidKaptchaServlet</servlet-name>
        <servlet-class>spring.servlet.captcha.ValidKaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidKaptchaServlet</servlet-name>
        <url-pattern>/validKaptcha.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ValidKaptcha2Servlet</servlet-name>
        <servlet-class>spring.servlet.captcha.ValidKaptcha2Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidKaptcha2Servlet</servlet-name>
        <url-pattern>/validKaptcha2.do</url-pattern>
    </servlet-mapping>

    <!-- session 配置 -->
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>

    <!-- 为下载的文件自动装配相应的 mime 类型 -->
    <mime-mapping>
        <extension>doc</extension>
        <mime-type>application/vnd.ms-word</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xls</extension>
        <mime-type>application/msexcel</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ppt</extension>
        <mime-type>application/vnd.ms-powerpoint</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>docx</extension>
        <mime-type>application/vnd.openxmlformats-officedocument.wordprocessingml.document</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xlsx</extension>
        <mime-type>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>pptx</extension>
        <mime-type>application/vnd.openxmlformats-officedocument.presentationml.presentation</mime-type>
    </mime-mapping>
</web-app>
